*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.contenidoGral{
    display: grid; 
    width: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:    
                        "encabezado encabezado encabezado encabezado"
                        "main main main main"                     
                        "footer footer footer footer";
}



.contenidoGral .logoEncabezado{
    grid-area: encabezado;
    height: 200px;
    width: 100%;
    background-image: url(../img/imagenencabezado.png);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    ;
}

.contenidoGral .cajaCentrada{
    grid-area: main;
    margin: 0 auto;
    width: 80%;
    padding: 100px 50px;
    background-color: #000000cb;
    color: whitesmoke;
    border: none;
}

.contenidoGral .cajaFooter{
    grid-area: footer;
    background-color: #000000;
    color: #f5f5f5;
    text-align: center;
    padding: 30px;
    margin: 0;

}


/*INICIO GRIDS-AREA DE LA PAGINA PRINCIPAL*/

@media screen and (min-width: 820px){
    



/*FIN GRIDS-AREA DE LA PAGINA PRINCIPAL*/

/*INICIO MENU NAVEGABLE*/

.contenidoGral .logoEncabezado .logo{
    height: 155px;
    width: auto;
    text-align: center;

}

.navMenu{
    background-color: #141313bd;
    height: 40px;
    width: 100%;
    padding: 5px;
    text-align: right;
    font-size: 20px;
    border-color:#DCDCDC;
    font-weight: bold;
}


.navMenu ul li{
    display: inline;
    margin: 0px 0px;
    
}

.navMenu ul li a{
    padding: 0px 20px;
    text-decoration: none;
    color: #fffef8;
}

.navMenu li a:hover{
    color: #ffe600 ;
    box-shadow: 0px 5px 0px #ffe600;
}

/*FIN DE BARRA NAVEGADORA*/


/*INICIO DEL MAIN INDEX*/



.videosRecientes{
    text-align: center;
    
}

.cajaCentrada .centrarPresent{
    padding: 20px 50px 20px 50px;
    
    
}

.centrarPresent h2{
    text-align: center;
    padding: 50px;
    font-size: 65px;
    color: #9b9898;

}

.cajaCentrada .centrarPresent .imgMain{
    text-align: center;
    padding: 25px;
}
    


#carouselExampleIndicators .carousel-inner{
    justify-items: center;
    height: auto;
    width: 100%;


}





/*Fin main de index*/

.centrarPresent .mapShow{
    text-align: center;
}

.centrarPresent h3{
    text-align: center;
    font-size: 40px;
}

/*Footer*/



    
    
    /*.contenidoGral .cajaFooter .contacto .iconos{
        padding: 30px;
        height: 300px;
        width: 200px;
        
    }

    .contenidoGral .cajaFooter .contacto .iconos a{
        padding: 50px;
        font-size: 34px;
        width: 100%;
        color: #9b9898;
        text-align: center;
    }*/

    .cajaFooter .contacto {
        color: #f5f4ec;
        margin: 20px;
    }

    .cajaFooter .contacto svg{
        margin-bottom: 15px;

    }

    .cajaFooter .contacto a{
        color: #f5f4ec;
        padding: 5px 10px;
    }

    

    .cajaFooter h3{
        font-size: 25px;
        color: #ffe600;
        padding-bottom:30px ;
    }

    


/* INICIO GALERIA SECCION FOTOS */



.galeria{
    height: 790px;
    width: 100%;
    display: grid;
    padding: 15px;
    transition: all 1s;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 5fr);
    grid-template-areas:    
                        "img1 img2 img2 img3"
                        "img1 img2 img2 img4"                     
                        "img1 img5 img6 img7";
}



.img{
    border-radius: 15px;
    box-shadow: 0 0 10px; color: rgba(0, 0, 0, 0.904);
}

.img:hover{
    transform: scale(1.1);
}

.img1{
    grid-area: img1;
    background-image: url(../img/img4.png);
    background-position: center;
    background-size: cover;    
}

.img2{
    grid-area: img2;
    background-image: url(../img/imghd1.png);
    background-position: center;
    background-size: cover; 
}

.img3{
    grid-area: img3;
    background-image: url(../img/Foto2.jpg);
    background-position: center;
    background-size: cover;
    
}

.img4{
    grid-area: img4;
    background-image: url(../img/Foto3.png);
    background-position: center;
    background-size: cover;
    
    
}

.img5{
    grid-area: img5;
    background-image: url(../img/imghd2.png);
    background-position: center;
    background-size: cover;
}

.img6{
    grid-area: img6;
    background-image: url(../img/imghd3.png);
    background-position: center;
    background-size: cover;
}

.img7{
    grid-area: img7;
    background-image: url(../img/Foto1.jpg);
    background-position: center;
    background-size: cover;
}


/* FINAL GALERIA SECCION FOTOS */

/*formulario flex*/

.cajaFormulario{
    padding: 100px;
    display: flex;
    justify-content: center;
    
    
}

.cajaFormulario .formulario{
    border-radius: 15px;
    padding: 30px;
    background-color: #000000;
}


/*-----------------------------------------------SECCION NOTICIAS------------------------------------------------------*/

.noticias{
display: flex;
width: 100%;
padding: 10px;
}

.noticias .card {
    margin: 15px;
    padding: 10px;
    width: 500px;
    background-color: #0e0d0d63;
    border-radius: 15px;
    box-shadow: 0 0 10px; color: rgba(0, 0, 0, 0.904);
    
}

.card img{
    height: 200px;
    width: auto;
    border-radius: 10px;
}
.card .card-body h5{
    font-size: 20px;
    color: #ffe600;
}

.card .card-body p{
    color:#9b9898;
}

} 
/*FIN RESPONSIVE TABLET Y PC*/

/*INICIO RESPONSIVE MOBILE*/


@media screen and (max-width: 820px) {

    .contenidoGral .cajaCentrada{
        grid-area: main;
        margin: 0 auto;
        width: 100%;
        padding: 100px 50px;
        background-color: #000000cb;
        color: whitesmoke;
        border: none;
        
    
    }
    .contenidoGral .logoEncabezado .logo{
        height: 155px;
        width: auto;
        text-align: center;
    
    }
    
    .navMenu{
        background-color: #141313bd;
        width: 100%;
        text-align: center;
        font-size: 15px;
        padding: 10px;
        border-color:#DCDCDC;
        font-weight: bold;
        display: flex;
        justify-content: center;
        
    }
    
    
    .navMenu ul li{
        display: inline;
        margin: 0px 0px;

        
    }
    
    .navMenu ul li a{
        padding: 0px 5px;
        text-decoration: none;
        color: #fffef8;
    }
    
    .navMenu li a:hover{
        color: #ffe600 ;
        box-shadow: 0px 5px 0px #ffe600;
    }
    
    /*FIN DE BARRA NAVEGADORA*/
    
    
    /*INICIO DEL MAIN INDEX*/

    .cajaCentrada .videosRecientes{
        text-align: center;
    
    }

    .cajaCentrada .videosRecientes iframe{
        width: 300px;
        height: auto;
        
    }
    
    
    .cajaCentrada .centrarPresent{
        text-align: center;
        
        
    }
    
    .centrarPresent h2{
        text-align: center;
        padding: 20px;
        font-size: 30px;
        color: #9b9898;
    
    }
    

    .cajaCentrada .centrarPresent .imgMain img{
        width: 200px;
        height: auto;
    }
        
    /*Fin main de index*/
    
    .centrarPresent .mapShow{
        text-align: center;
    }
    
    .centrarPresent h3{
        text-align: center;
        font-size: 40px;
    }
    
    /*Footer*/
    
    .cajaFooter .contacto {
        color: #f5f4ec;
        margin: 20px;
    }

    .cajaFooter .contacto svg{
        margin-bottom: 15px;

    }

    .cajaFooter .contacto a{
        color: #f5f4ec;
        padding: 5px 10px;
    }

    

    .cajaFooter h3{
        font-size: 25px;
        color: #ffe600;
        padding-bottom:30px ;
    }

    
    
    /* INICIO GALERIA SECCION FOTOS */
    
    .galeria{
        height: 790px;
        width: 100%;
        display: grid;
        padding: 15px;
        transition: all 2s;
        gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 5fr);
        grid-template-areas:    
                            "img1 img2 img2 img3"
                            "img1 img2 img2 img4"                     
                            "img1 img5 img6 img7";

    }
    
    
    
    .img{
        border-radius: 15px;
        box-shadow: 0 0 10px; color: rgba(0, 0, 0, 0.904);
    }
    
    
    .img1{
        grid-area: img1;
        background-image: url(../img/img4.png);
        background-position: center;
        background-size: cover;    
    }
    
    .img2{
        grid-area: img2;
        background-image: url(../img/imghd1.png);
        background-position: center;
        background-size: cover; 
    }
    
    .img3{
        grid-area: img3;
        background-image: url(../img/Foto2.jpg);
        background-position: center;
        background-size: cover;
        
    }
    
    .img4{
        grid-area: img4;
        background-image: url(../img/Foto3.png);
        background-position: center;
        background-size: cover;
        
        
    }
    
    .img5{
        grid-area: img5;
        background-image: url(../img/imghd2.png);
        background-position: center;
        background-size: cover;
    }
    
    .img6{
        grid-area: img6;
        background-image: url(../img/imghd3.png);
        background-position: center;
        background-size: cover;
    }
    
    .img7{
        grid-area: img7;
        background-image: url(../img/Foto1.jpg);
        background-position: center;
        background-size: cover;
    
}

/*SECCION MUSICA RESPONSIVE MOBILE*/

.cajaCentrada .centrarPresent iframe{
    text-align: center;
    width: 100%;
}

/*-----------------------------------------------SECCION NOTICIAS------------------------------------------------------*/

.noticias{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 10px;
    }
    
    .noticias .card {
        margin: 15px;
        padding: 10px;
        width: 500px;
        background-color: #0e0d0d63;
        border-radius: 15px;
        box-shadow: 0 0 10px; color: rgba(0, 0, 0, 0.904);
        
    }
    
    .card img{
        height: 200px;
        width: auto;
        border-radius: 10px;
    }
    .card .card-body h5{
        font-size: 20px;
        color: #ffe600;
    }
    
    .card .card-body p{
        color:#9b9898;
    }

}
