@mixin size($h, $w) {
    height: $h;
    width: $w;
    }

.navMenu{
    background-color: $negrodifuminado;
    @include size(40px, 100%);
    padding: 5px;
    text-align: right;
    font-size: 20px;
    border-color: $blancos;
    font-weight: bold;

    ul{
        li{
            display: inline;
            margin: 0 0;
            
            a{
                padding: 0 20px;
                text-decoration: none;
                color: $blancos;
            }

            a:hover{
                color: $amarillo;
                box-shadow: 0 5px 0 $amarillo;
            }
        }
    }
}