@mixin size($h, $w) {
    height: $h;
    width: $w;
    }

.navMenu{
    @include size(40px, 100%);
    padding: 5px;
    text-align: right;
    font-size: 20px;
    border-color: $blancos;
    font-weight: bold;

    ul{
        li{
            display: inline;
            margin: 0 0;
            
            a{
                padding: 0 20px;
                text-decoration: none;
                color: $blancos;
                text-shadow: 0 0 #0a0a0a, 1px 1px #0a0a0a,2px 2px #0a0a0a, 3px 3px #0a0a0a;
            }

            a:hover{
                color: $amarillo;
                transition: 0.5s;
                text-shadow: 0 0 #0a0a0a, 1px 1px #0a0a0a, 2px 2px #0a0a0a, 3px 3px #0a0a0a, 4px 4px #0a0a0a, 5px 5px #0a0a0a;
                
                
            }
        }
    }
}

